/* -----------
------Common css-------
------------- */
body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}



/* ----------
----Header part css----
-------------- */

header{
    position: relative;
    display: flex;
    background-color: #1E1E1E;
    border-radius: 30px;
}


/* -------Football animation css----------- */
@keyframes moving {
    0%{
        bottom: 100px;
        left: 25%;
    }
    25%{
        bottom: 0;
    }
    50%{
        bottom: 30px;
    }
    75%{
        bottom: 50px;
    }
    90%{
        bottom: 30px;
    }
    100%{
        bottom: 0;
        left: 75%;
    }
}
header .football{
    position: absolute;
    bottom: 50px;
    left: 25%;
    font-size: 70px;
    color: white;
    animation: moving 3s ease-in infinite alternate;
}


/* ---------Banner part css-------- */

.banner-text, .banner-img{
    width: 50%;
}
.banner-text{
    margin-left: 5%;
    margin-bottom: 106px;
}
.banner-text h1{
    font-size: 70px;
    font-weight: 700;
    color: #ffffff;
}
.banner-text p{
    font-size: 16px;
    font-weight: 400;
    color:#ffffff;
    margin-bottom: 70px;
}
.banner-text a{
    padding: 16px 25px;
    background-color: #4200dd;
    border: none;
    color: #ffffff;
    font-size: 20px;
    border-radius: 5px;
}
.banner-img{
    position: relative;
}
.banner-img img{
    width: 100%;
    position: absolute;
    bottom: 0;
}




/* --------------
---------Body part css-----------
----------------- */
.container{
    display: grid;
    grid-template-columns: 312px 75%;
    margin: 50px 0;
}


/* -------Selector box part css-------- */

.selector-box{
    height: 365px;
    width: 312px;
    background-color:#530e07;
    border-radius: 10px;
}
.box-items{
    display: flex;
    flex-direction: column;
}
.box-items a{
    text-align: center;
    display: block;
    font-size: 20px;
    font-weight: 500;
    padding: 17px 39px;
    color: #161616;
    background-color: #FFFFFF;
    margin: 30px;
    border-radius: 10px;
}
.box-items a:hover{
    background-color: #4200dd;
    color: #FFFFFF;
}


/* ---------blog items css--------- */

.blog{
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 25px;
    margin-bottom: 20px;
}
.blog-items{
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
.blog-items .items-text{
    padding-left: 10px;
    margin-top: 15px;
}
.items-text a{
    font-size: 16px;
    color: #161616;
    font-weight: 500;
    padding: 2px 5px;
    border: 1px solid #161616;
    border-radius: 5px;
}
.items-text h3{
    color: #161616;
    font-size: 18px;
    font-weight: 600;
}
.items-text i, .items-text span{
    font-size: 15;
    color: #161616B2;
}
.items-text span{
    margin-right: 20px;
}


/* ========Second website's blog items css========= */

.blog-items.schedule{
    text-align: center;
    padding: 20px 0;
}
.blog-items.schedule .schedule-img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



/* -------------
-------Special Button css------
---------------- */

.tab-button{
    text-align: center;
    display: none;
}
.tab-button a{
    font-size: 20px;
    padding: 12px 29px;
    color: #FFFFFF;
    background-color: #DD0000;
    display: inline-block;
    margin-bottom: 30px;
}

/* ------------------------
---------Footer part css-------
--------------------------- */

footer{
    padding: 50px 0;
    background-color: #161616;
    text-align: center;
}
footer .footer-links{
    display: flex;
    justify-content: center;
}
footer h3{
    font-size: 40px;
    font-weight: 600;
    color: #FFFFFF;
}
footer hr{
    width: 90%;
    color: #1E1E1E;
    margin-bottom: 30px;
}
footer a{
    font-size: 16px;
    color: #B9B9B9;
    margin-right: 40px;
    font-weight: 500;
}
footer .social-icons{
    margin-top: 30px;
}
footer .social-icons a{
    font-size: 20px;
}


/* ========Responsive part css========= */

/* ----Mobile & Tablet common css---- */
@media screen and (max-width:992px) {
    .banner-text h1{
        font-size: 38px;
    }
    .banner-text p{
        font-size: 13px;
    }
    .box-items a{
        font-size: 17px;
        border: 1px solid #E8E8E8;
    }
    .selector-box{
        height: auto;
        width: auto;
        background: none;
    }
}

/* ----Mobile responsive css---- */
@media only screen and (max-width:688px) {

    /* Header part responsive */

    header{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    header .football{
        display: none;
    }
    .banner-text{
        width: 100%;
        margin-left: 0;
    }
    .banner-img img{
        position: inherit;
    }

    
    .container, .blog{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    
    /* Footer part responsive */
    footer .footer-links{
        flex-direction: column;
    }
    footer a{
        margin-right: 0;
        margin-bottom: 8px;
    }

}

/* -------Tablet responsive css-------- */

@media only screen and (min-width:689px) and (max-width:992px) {
    header .football{
        font-size: 40px;
    }
    .container{
        grid-template-columns: repeat(1,1fr);
    }
    .box-items{
        flex-direction: row;
        justify-content: center;
    }
    .blog{
        margin-left: 0;
        grid-template-columns: repeat(2,1fr);
    }
    .blog-items img{
        width: 100%;
    }
    .tab-hidden{
        display: none;
    }
    .tab-button{
        display: revert;
    }
    footer .footer-links{
        flex-wrap: wrap;
        margin: 0 8%;
    }
}




